@model IEnumerable<Mariage.Models.hebergement>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estOffert)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.debutOffert)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.finOffert)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idLieu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.titre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prixComplet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.offertComplet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.debutOffert)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.finOffert)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lieu.titre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
