@model Mariage.Models.etape

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>etape</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.debut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.debut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.etape2.titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etape2.titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lieu.titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lieu.titre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
