@model IEnumerable<Mariage.Models.reponse>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.listeParticipants)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modeTransport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.arriveeTransport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateArrivee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.commentaires)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hotelSamediSoir)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.listeParticipants)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modeTransport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.arriveeTransport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateArrivee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.commentaires)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hotelSamediSoir)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) @*|
            @Html.ActionLink("Delete", "Delete", new { id=item.id })*@
        </td>
    </tr>
}

</table>
